<br>
<br>
<div class="row">
    <div class="col-8">
        <h1>Login to your Account</h1>
        <form (ngSubmit)="login()" [formGroup]="loginForm">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password">
            </div>            
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
    </div>
</div>