<div class="row justify-content-center">
    <div class="col-8">
        <h1>Create Account</h1>
        <form (ngSubmit)="register()" [formGroup]="registerForm">
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName">
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
            </div>
            <div class="mb-3">
                <label for="passwordConfirm" class="form-label">Password Confirmation</label>
                <input type="password" class="form-control" id="passwordConfirm" formControlName="passwordConfirm">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
            
        </form>
    </div>
</div>